/* Basic Styles */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  line-height: 1.5rem;
  height: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@media (prefers-reduced-motion) {
  html {
    scroll-behavior: initial;
  }
}

body {
  margin: 0 auto;
  padding: 0;
  min-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/* New Navbar Styles */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background: #23232e;
  /* background-color: #1d1e1f; */
  height: 10vh;
  z-index: 100;
}

.logo a {
  font-size: 24px;
  text-transform: uppercase;
  color: #FFF;
  text-decoration: none;
}

.nav-desktop {
  display: none;
}

.nav-mobile {
  position: absolute;
  top: 10vh;
  right: 0;
  width: 50vw;
  height: 90vh;
  background: #23232e;
  /* background: #1d1e1f; */
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  transform: translateX(100%);
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  -moz-transition: -moz-transition 0.3s ease-in-out;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
}

.nav-mobile div {
  margin: 1rem auto;
}

.nav-mobile .nav-item {
  opacity: 0;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 0.5rem 0;
}

.nav-mobile #social-media {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #FFF;
}

.nav-mobile .nav-item a {
  display: inline-block;
  position: relative;
  color: #fff;
  text-decoration: none;
  padding: 1rem;
  transition: all 0.3s ease-in-out;
}

.nav-mobile .nav-item a:hover {
  transform: scale(1.1);
  color: #0b998f;
}

.mobile-menu {
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 3px;
  background: #FFF;
  border-radius: 10px;
  margin: 8px;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.mobile-menu:hover div {
  background: #0b998f;
}

.mobile-menu.active .line-1 {
  transform: rotate(-45deg) translate(-8px, 8px);
  -moz-transform: rotate(-45deg) translate(-8px, 8px);
  -webkit-transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line-2 {
  opacity: 0;
}

.mobile-menu.active .line-3 {
  transform: rotate(45deg) translate(-8px, -8px);
  -moz-transform: rotate(45deg) translate(-8px, -8px);
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
}

.nav-mobile.active {
  transform: translateX(0);
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
}

/* Menu item animation */
@keyframes navLinksFade {
  from {
    opacity: 0;
    transform: translateX(50px);
    -moz-transform: translateX(50px);
    -webkit-transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
  }
}

/* Top Navbar Styles */
.nav-top {
  position: fixed;
  top: 0;
}

/* Modern browsers */
@supports (position: sticky) {
  .nav-top {
    position: sticky;
    /* For Safari */
    position: -webkit-sticky;
  }
}

/* Header Styles */
.hero-box {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image {
  background-image: url("../img/header_background-mobile.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-image::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
  width: 100%;
  position: absolute;
}

.hero-text-box {
  align-self: center;
  text-align: center;
  padding: 1rem;
  z-index: 10;
}

.hero-heading {
  font-size: 2rem;
  line-height: 2rem;
  letter-spacing: 0.05rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #FFF;
}

.hero-text {
  font-size: 1rem;
  margin-top: 1rem;
  color: #FFF;
}

.hero-button {
  display: inline-block;
  padding: 0.75rem 1rem;
  background: none;
  color: #FFF;
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid #FFF;
  border-radius: 5px;
  margin-top: 2rem;
  cursor: pointer;
}

.hero-button:hover {
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.1s ease;
}

.hero-button:active {
  transform: scale(0.95);
}

/* Projects Styles */
.projects-container {
  padding: 2rem 1.25rem;
}

.projects-container h1 {
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}

.projects-gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem
}

.gallery-item {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.gallery-item a {
  text-decoration: none;
}

.gallery-img {
  height: 100%;
  object-fit: cover;
  transition: 0.5s ease-in-out;
}

.gallery-img:hover {
  transform: scale(1.5);
}

/* About Styles */
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 0;
}

.about-container h1 {
  font-size: 2rem;
  line-height: 2rem;
}

.about-text {
  text-align: justify;
}

.about-social {
  display: flex;
  flex-direction: column;
}

.about-social h2 {
  margin: 1.25rem 0;
}

.about-social a {
  text-decoration: none;
}

.about-social .social-media {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.about-social .social-media a {
  padding: 0.5rem 1rem;
}

.section-stop {
  scroll-margin-top: 3.75rem;
}

/* Media Queries for Large Screens */
@media (min-width: 670px) {

  .mobile-menu {
    display: none;
  }

  .nav-bar {
    line-height: 1.5rem;
    padding: 0 4rem;
    height: 10vh;
  }

  .nav-top {
    width: 100%;
  }

  .nav-mobile {
    display: none;
  }

  .nav-desktop {
    display: flex;
    align-items: center;
    list-style: none;
  }

  .nav-desktop .nav-item {
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 0.5rem 0;
  }

  .nav-desktop .nav-item a {
    display: inline-block;
    position: relative;
    color: #fff;
    text-decoration: none;
    padding: 1rem;
    transition: all 0.3s ease-in-out;
  }

  .nav-desktop .nav-item a:hover {
    transform: scale(1.1);
  }

  .hero-image {
    background-image: url("../img/header_background-desktop.png");
  }

  .hero-heading {
    font-size: 4rem;
    line-height: 4rem;
  }

  .hero-text {
    font-size: 2rem;
    line-height: 2rem;
  }

  .hero-text-box {
    padding: 2rem;
  }

  .projects-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    grid-auto-rows: 300px;
  }

  .projects-container h1,
  .about-text h1 {
    font-size: 3rem;
    line-height: 3rem;
  }

  .about-container {
    flex-direction: row;
    gap: 3rem;
  }

  .about-text,
  .about-social {
    width: 50%;
  }

  .about-text p {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }

  .section-stop {
    scroll-margin-top: 3.5rem;
  }
}

@media (min-width: 920px) {

  html,
  body {
    overflow-x: scroll;
  }

  body {
    position: initial;
  }

  .mobile-menu {
    display: none;
  }

  .nav-bar {
    line-height: 1rem;
    padding: 0 5rem;
    height: 10vh;
  }

  .nav-top {
    width: 100%;
  }

  .nav-mobile {
    display: none;
  }

  .nav-desktop {
    display: flex;
    align-items: center;
    list-style: none;
  }

  .nav-desktop .nav-item {
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 0.5rem 0;
  }

  .nav-desktop .nav-item a {
    display: inline-block;
    position: relative;
    color: #fff;
    text-decoration: none;
    padding: 1rem;
    transition: all 0.3s ease-in-out;
  }

  .nav-desktop .nav-item a:hover {
    transform: scale(1.1);
  }

  .hero-heading {
    font-size: 6rem;
    line-height: 6rem;
  }

  .hero-image {
    background-image: url("../img/header_background-desktop.png");
  }

  .projects-container,
  .about-container {
    max-width: 1200px;
    margin: 2rem auto 0 auto;
  }

  .projects-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    grid-auto-rows: 300px;
  }

  .projects-container h1,
  .about-text h1 {
    font-size: 4rem;
    line-height: 4rem;
  }

  .about-container {
    flex-direction: row;
    gap: 3rem;
  }

  .about-text,
  .about-social {
    width: 50%;
  }

  .about-text p {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .section-stop {
    scroll-margin-top: 5.5rem;
  }
}