/* Contacts Styles */
.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 1.25rem;
  background-color: #00565a;
  color: #FFF;
}

.contact-container a {
  text-decoration: none;
  color: #FFF;
}

.contact-text h1 {
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}

.contact-email {
  display: flex;
  gap: 2rem;
  margin: 1rem 0;
}

.contact-email #email {
  display: flex;
  align-items: center;
}

.contact-social {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.social-icon {
  width: 2rem;
  height: 2rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.email {
  background-image: url("../img/icons/32/email-white.png");
}

.contact-social .social-icon.email:hover {
  background-image: url("../img/icons/32/email.png");
}

.github {
  background-image: url("../img/icons/32/github-white.png");
}

.contact-social .social-icon.github:hover {
  background-image: url("../img/icons/32/github.png");
}

.linkedin {
  background-image: url("../img/icons/32/linkedin-white.png");
}

.contact-social .social-icon.linkedin:hover {
  background-image: url("../img/icons/32/linkedin.png");
}

.twitter {
  background-image: url("../img/icons/32/twitter-white.png");
}

.contact-social .social-icon.twitter:hover {
  background-image: url("../img/icons/32/twitter.png");
}

.instagram {
  background-image: url("../img/icons/32/instagram-white.png");
}

.contact-social .social-icon.instagram:hover {
  background-image: url("../img/icons/32/instagram.png");
}

/* Media Queries for Large Screens */
@media (min-width: 670px) {

  .contact-text h1 {
    font-size: 3rem;
    line-height: 3rem;
  }

  .contact-container p {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
}

@media (min-width: 920px) {

  .contact-container {
    margin: 0 auto;
    padding: 5rem 10rem;
  }

  .contact-text h1 {
    font-size: 4rem;
    line-height: 4rem;
  }

  .contact-container h2 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  .contact-container p {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .contact-email,
  .contact-social {
    margin: 2.5rem 0;
  }

  .social-icon {
    width: 4rem;
    height: 4rem;
  }

  .email {
    background-image: url("../img/icons/64/email-white.png");
  }

  .contact-social .social-icon.email:hover {
    background-image: url("../img/icons/64/email.png");
  }

  .github {
    background-image: url("../img/icons/64/github-white.png");
  }

  .contact-social .social-icon.github:hover {
    background-image: url("../img/icons/64/github.png");
  }

  .linkedin {
    background-image: url("../img/icons/64/linkedin-white.png");
  }

  .contact-social .social-icon.linkedin:hover {
    background-image: url("../img/icons/64/linkedin.png");
  }

  .twitter {
    background-image: url("../img/icons/64/twitter-white.png");
  }

  .contact-social .social-icon.twitter:hover {
    background-image: url("../img/icons/64/twitter.png");
  }

  .instagram {
    background-image: url("../img/icons/64/instagram-white.png");
  }

  .contact-social .social-icon.instagram:hover {
    background-image: url("../img/icons/64/instagram.png");
  }
}