/* Contacts Styles */
.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 1.25rem;
  background-color: #0b998f;
  color: #FFF;
}

.contact-container a {
  text-decoration: none;
}

.contact-text h1 {
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}

.contact-social {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.contact-social a {
  text-decoration: none;
}

.social-icon {
  width: 2rem;
  height: 2rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.github {
  background-image: url("../img/icons/32/github-white.png");
}

.github:hover {
  background-image: url("../img/icons/32/github.png");
}

/* Media Queries for Large Screens */
@media (min-width: 670px) {

  .contact-text h1 {
    font-size: 3rem;
    line-height: 3rem;
  }

  .contact-container p {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
}

@media (min-width: 920px) {

  .contact-container {
    margin: 0 auto;
    padding: 5rem 5rem;
  }

  .contact-text h1 {
    font-size: 4rem;
    line-height: 4rem;
  }

  .contact-container p {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .social-icon {
    width: 4rem;
    height: 4rem;
  }

  .github {
    background-image: url("../img/icons/64/github-white.png");
  }

  .github:hover {
    background-image: url("../img/icons/64/github.png");
  }
}