/* Education Styles */
.education-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 1.25rem;
  background-color: #23232e;
  color: #FFF;
}

.education-text h1 {
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}

.education-college {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.education-desc p {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.education-desc ul li {
  list-style: none;
  margin-top: 1rem;
}

.education-desc ul li a {
  margin-top: 1rem;
  color: #FFF;
}

.education-desc ul li span {
  font-size: 0.75rem;
}

.education-icon {
  width: 4rem;
  height: 4rem;
  background-image: url("../img/logo_ufma.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 670px) {}

@media (min-width: 920px) {
  .education-container {
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 5rem 10rem;
  }

  .education-container h1 {
    font-size: 4rem;
    line-height: 4rem;
  }

  .education-container p {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}