/* Footer Styles */
.nav-bottom {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  background: #23232e;
}

.nav-bottom-text {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.nav-bottom-text p {
  color: #FFF;
}

.nav-bottom-menu {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  list-style: none;
  padding-left: 2.8rem;
}

.nav-bottom-item a {
  color: #FFF;
  padding: 0.7rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.nav-bottom-item a:hover {
  color: #0b998f;
}

/* Media Queries for Large Screens */
@media (min-width: 670px) {

  .nav-bottom-menu {
    align-items: center;
  }
}

@media (min-width: 920px) {

  .nav-bottom-menu {
    align-items: center;
  }
}