/* Header Styles */
.header-box {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header-image {
  background-image: url("../img/header_background-mobile.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header-image::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
  width: 100%;
  position: absolute;
}

.header-text-box {
  align-self: center;
  text-align: center;
  padding: 1rem;
  z-index: 10;
}

.header-title {
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: 0.05rem;
  font-weight: bold;
  text-transform: capitalize;
  color: #FFF;
}

.header-subtitle {
  font-size: 1.25rem;
  margin-top: 1rem;
  color: #FFF;
}

.header-button-box {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 2rem;
}

.social-buttons {
  display: flex;
  justify-content: space-around;
}

.header-button {
  display: inline-block;
  padding: 0.75rem 1rem;
  background: none;
  color: #FFF;
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid #FFF;
  border-radius: 5px;
  text-decoration: none;
  /* transition: all 0.1s ease; */
  transition: background-color 0.5s ease;
}

.social-buttons #github-btn:hover {
  transform: scale(1.1);
  background-image: url("../img/icons/64/github-white.png");
}

.social-buttons #linkedin-btn:hover {
  transform: scale(1.1);
  background-image: url("../img/icons/64/linkedin-white.png");
}

.header-button:hover {
  background-color: rgba(0, 0, 0, 1);
  transform: scale(0.95);
}

.scroll-down-icon {
  width: 3rem;
  height: 3rem;
  background-image: url("../img/icons/64/down-arrow.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  position: absolute;
  bottom: 2rem;
  z-index: 20;
  cursor: pointer;
}

/* Scroll Down Icon Animation */
.scroll-down {
  animation: scrollDown 1s infinite alternate;
  -moz-animation: scrollDown 1s infinite alternate;
  -webkit-animation: scrollDown 1s infinite alternate;
}

@keyframes scrollDown {
  from {
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
  }

  to {
    transform: translateY(1rem);
    -moz-transform: translateY(1rem);
    -webkit-transform: translateY(1rem);
  }
}

/* Media Queries for Large Screens */
@media (min-width: 670px) {

  .header-image {
    background-image: url("../img/header_background-desktop.png");
  }

  .header-title {
    font-size: 4rem;
    line-height: 4rem;
  }

  .header-subtitle {
    font-size: 2rem;
    line-height: 2rem;
  }

  .header-text-box {
    padding: 2rem;
  }
}

@media (min-width: 920px) {

  .header-title {
    font-size: 6rem;
    line-height: 6rem;
  }

  .header-image {
    background-image: url("../img/header_background-desktop.png");
  }
}