/* Skills Styles */
.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 1.25rem;
  background-color: #00565a;
  color: #FFF;
}

.skills-text h1 {
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}

.skills-tools {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: 50px;
  gap: 1rem;
  margin: 1rem 0;
}

.skills-item {
  display: flex;
  align-items: center;
  padding: 0.75rem;
  gap: 0.5rem;
}

.skills-item p {
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
}

.skills-icon {
  width: 2rem;
  height: 2rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.node {
  background-image: url("../img/tools/node-js.png");
}

.js {
  background-image: url("../img/tools/js.png");
}

.ts {
  background-image: url("../img/tools/typescript.png");
}

.python {
  background-image: url("../img/tools/python.png");
}

.postgre {
  background-image: url("../img/tools/postgre.png");
}

.mysql {
  background-image: url("../img/tools/mysql.png");
}

.html {
  background-image: url("../img/tools/html.svg");
}

.css {
  background-image: url("../img/tools/css.svg");
}

.git {
  background-image: url("../img/tools/git.svg");
}

.git-hub {
  background-image: url("../img/tools/github.svg");
}

.vscode {
  background-image: url("../img/tools/vscode.svg");
}

.linux {
  background-image: url("../img/tools/linux.svg");
}

.csharp {
  background-image: url("../img/tools/c-sharp.png");
}

.docker {
  background-image: url("../img/tools/docker.png");
}

.react {
  background-image: url("../img/tools/react.png");
}

.mongo {
  background-image: url("../img/tools/mongo.svg");
}

@media (min-width: 670px) {}

@media (min-width: 920px) {

  .skills-container {
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 5rem 10rem;
  }

  .skills-container h1 {
    font-size: 4rem;
    line-height: 4rem;
  }

  .skills-container p {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}